<div class = "content_area">

  <ul>
    
    <% @posts.each do |post|%>

    <li class = timestamps><%= post.created_at%></li>
    <li class = content><%= post.content%></li>
    <%end%>
  </ul>
</div>