<!DOCTYPE html>
<html>

<header>
  
</header>

<body>
<h1>星ログ</h1>
<%= form_with(model: @post,local: true) do |form| %>

<%= form.label :"コメント"%>
<%= form.text_field :content%>
<%= form.submit%>
<% end %>

</body>

</html>



